{{ partial "header.html" . }}
  <link href="{{ .Site.BaseURL }}css/{{ index .Site.Data.code_assets.assets_css "pages/home/index.css" }}" rel="stylesheet" type="text/css">
  </head>
  <body>
    {{ partial "nav.html" . }}
    {{ range .Data.Pages }}
      {{ if or (eq .Type "posts") (eq .Type "posts-series") }}
        <h3>
          <a href={{ .Permalink }}>{{ .Title }}</a>
        </h3>
        {{ .Render "summary" }}
      {{ end }}
    {{ end }}
    <br />
    <button id="aboutMeBtn">CLICK ME</button>
    {{ partial "scripts" . }}
  </body>
</html>
